html,
body {
	height: 100%;
}

.card {
	border: none;
	margin: 5px;
	transition: 100ms;
	width: 250px;
}

.card-image-top {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.card-body {
	padding: 5px;
}

.card:hover {
	outline: 3px solid #ffdb4d;
}

.card-text {
	line-height: 23px;
	font-weight: 378;
	text-align: start;
}

.card-text:hover,
.card-text:focus {
	color: red;
	cursor: pointer;
}

.card-text:active {
	color: #ffdb4d;
}

.cards-container a {
	color: black;
}